<div class="centrer" >
  <div>
    <h4>Ajouter Un Partenaire</h4>
    <hr>
  </div>
<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  <div> 
          <mat-form-field floatLable="auto" appearence="fill">
            <mat-label>Prenom</mat-label>
            <input matInput required  class="form-control" formControlName="Prenom">
          </mat-form-field>
  </div>
  <div> 
      <mat-form-field floatLable="auto" appearence="fill">
        <mat-label>Nom</mat-label>
        <input matInput required  class="form-control" formControlName="Nom">
      </mat-form-field>
  </div>
   
  <div>
          <mat-form-field floatLable="auto" appearence="fill">
            <mat-label>Password</mat-label>
            <input matInput required  class="form-control" formControlName="password">
          </mat-form-field>
  </div>
  <div>
      <mat-form-field floatLable="auto" appearence="fill">
        <mat-label>Telephone</mat-label>
        <input matInput required  class="form-control" formControlName="Telephone">
      </mat-form-field>
</div>
<div>
    <mat-form-field floatLable="auto" appearence="fill">
      <mat-label>CNI</mat-label>
      <input matInput required  class="form-control" formControlName="CNI">
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLable="auto" appearence="fill">
      <mat-label>NINEA</mat-label>
      <input matInput required  class="form-control" formControlName="NINEA">
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLable="auto" appearence="fill">
      <mat-label>Adresse</mat-label>
      <input matInput required  class="form-control" formControlName="Adresse">
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLable="auto" appearence="fill">
      <mat-label>Raison Social</mat-label>
      <input matInput required  class="form-control" formControlName="RaisonSocial">
    </mat-form-field>
</div>
  <div>
  <mat-form-field floatLable="auto" appearence="fill">
    <mat-label>Email</mat-label>
    <input matInput required  class="form-control" formControlName="Email">
  </mat-form-field>
  </div>

  <div>
      <mat-form-field floatLable="auto" appearence="fill">
        <mat-label>Numero Compte</mat-label>
        <input matInput required  class="form-control" formControlName="NumeroCompte">
      </mat-form-field>
  </div>
  
  <div>
     <img [src]="imageurl" alt="" hidden>
      <input   class="form-control" formControlName="imageName" type="file" #ImageName accept="image/*" (change)="handleFileInput($event.target.files)" >
</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Register</button>
    </div>
  </form>
</div>
</div>




