<div style="text-align:center">
  <section class="section">
      <div class="container">
          <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-menu is-active buttons">
                  <button class="button is-link" [routerLink]="['listerPartenaire']">Lister partenaires</button>
                  <button class="button is-link" [routerLink]="['api/partenaires']">Ajouter partenaire</button>
              </div>
          </nav>
      </div>
  </section>
</div>